body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.main-title {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 0;
  padding: 2rem 0 0 0;
  font-size: 3rem;
  font-family: 'Montserrat', sans-serif;
  color: hsla(0, 71%, 58%, 1);
  background-color: hsla(211, 30%, 10%, 1);
  width: 100vw;
}

.main-caption {
  text-align: center;
  /* margin-bottom: 3rem; */
  margin-top: 0;
  padding-bottom: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: white;
  background-color: hsla(211, 30%, 10%, 1);
  width: 100vw;
}

.currently-showing {
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin: 2rem;
}

.outlets-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: hsla(211, 30%, 10%, 1);
  padding: 2rem;
}

.outlets-container button {
  font-size: 0.8rem;
  margin: 0.5rem;
  width: 7rem;
  padding: 0.3rem;
  border: 1px solid white;
  border-radius: 3px;
  color: white;
  background-color: hsla(158, 19%, 100%, 0);
  transition: 0.3s;
}

.outlets-container button:hover {
  background-color: hsla(158, 19%, 100%, 0.5);
  cursor: pointer;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: hsla(211, 30%, 10%, 1);
}

.nav-items-right {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.logo {
  margin-left: 2rem;
  margin-right: 2rem;
  text-decoration: none;
  color: hsla(0, 71%, 58%, 1);
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.nav-link {
  margin: 1rem;
  /* margin-left: 1rem;
  margin-right: 1rem; */
  text-decoration: none;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.search {
  margin-left: 2rem;
  margin-right: 2rem;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
}

input {
  border: none;
  height: 1.3rem;
  width: 12rem;
}

.search-button {
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  margin-left: 0.5rem;
  border: 1px solid white;
  border-radius: 3px;
  transition: 0.3s;
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-decoration: none;
}

.search-button:hover {
  background-color: hsla(158, 19%, 100%, 0.5);
  cursor: pointer;
}

/* .top-headlines-header {
  text-align: center;
} */

.overview {
  display: flex;
  align-items: flex-start;
  max-width: 46rem;
  margin-bottom: 1rem;
  margin: 1rem auto;
  margin-left: 4rem;
  margin-right: 4rem;
}

.thumbnail {
  width: 16rem;
  margin-right: 1rem;
}

.title {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: black;
  text-decoration: none;
  margin-top: 0;
}

.caption {
  font-size: 0.9rem;
  margin-bottom: 0;
  font-family: 'Lato', sans-serif;
}

main {
  display: flex;
  justify-content: center;
}

.master-container {
  width: 100%;
}

.categories-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: hsla(211, 30%, 10%, 1);
  padding: 2rem;
}

.categories-container button {
  font-size: 0.8rem;
  margin: 0.5rem;
  width: 7rem;
  padding: 0.3rem;
  border: 1px solid white;
  border-radius: 3px;
  color: white;
  background-color: hsla(158, 19%, 100%, 0);
  transition: 0.3s;
}

.categories-container button:hover {
  background-color: hsla(158, 19%, 100%, 0.5);
  cursor: pointer;
}

/* .top-headlines {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.top-headlines-header {
  text-align: center;
}

.headlines-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50rem;
  padding: 0 6rem 6rem 6rem;
  margin: 0 auto;
}

.headline-item {
  max-width: 30rem;
  padding: 0.7rem 1.2rem 0.7rem 1.2rem;
  margin: 0.1rem;
  min-width: 30rem;
  background-color: hsla(158, 0%, 89%, 1);
  font-family: 'Lato', sans-serif;
}

.headline {
  text-decoration: none;
  color: black;
  font-family: 'Lato', sans-serif;
}

.selected-article-main {
  max-width: 50rem;
}

.article-image {
  max-width: 50rem;
}

.news-link {
  text-decoration: none;
  color: hsla(0, 71%, 58%, 1);
  font-family: 'Lato', sans-serif;
}

.news-api {
  text-decoration: none;
  color: hsla(0, 71%, 58%, 1);
  font-family: 'Lato', sans-serif;
}

footer {
  background-color: hsla(211, 30%, 10%, 1);
  padding: 1rem;
}

footer p {
  color: white;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
